.sectiontenhead{
margin-top: 99px;
    margin-bottom: 65px;
    position: relative;
}


.sectiontenhead h1::after {
    content: '.................';
    position: absolute;
    bottom: -15px;
    left: 48%;
    font-size: 15px;
    color: #adadad;
}
.sectiontenimg{
    cursor: pointer;
    width: 180px;
    background: #0da3fa;
    padding: 19px 26px 19px 20px;
    border-radius: 31px;
    margin-right: 32px;
}
/* .sectiontenimg::before{ */
/* position: absolute; */
/* content: ''; */
/* } */

@media(max-width:1326px){
    .sectionten{
        margin-top: 10px !important;
       padding-top: 23px !important ; 
    }
}
@media(max-width:991px){
    .sectionten{
        margin-top: 25px !important;
        height: 53vh;
    }
}
@media(max-width:768px){
 .sectionten{
     height: 68vh !important ;
     padding-top: 0px !important;
 }

 .sectiontenhead {
    margin-top: 154px ;
}

}
@media(max-width:531px){
    .sectionten{
    margin-top: 183px !important;
}
}
@media(max-width:526px){
    .sectionten{
        height: 88vh !important;

    }
    

    .sectiontenimg{

        width: 230px !important;
        background: #0da3fa !important;
        padding: 9px 9px !important;
        border-radius: 6% !important;
        margin-right: auto;
        display: block !important;
        margin: auto !important;
        margin-bottom: 20px !important;
    }
}
@media(max-width:428px){
    .sectionten{
    margin-top: 37px !important;
    }

}