
.contactangle{
position: relative;
}
.contactangle::after{
content: '.................';
    position: absolute;
    bottom: -15px;
    left: 48%;
    font-size: 15px;
    color: #adadad;
    
}

.sectionthirteenbtn{
    text-transform: uppercase;
    background: linear-gradient(
0deg
, #21c1fb, #2ed6fd);
    padding: 16px 28px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    border-radius: 40px;
    font-weight: 900;
    border: none;
    outline: none !important;
    cursor: pointer;
    margin: auto;
    display: block;
}
.lfs-social-list {
    display: flex;
    /* margin: 0px 51px; */
    list-style: none;
}
.lfs-social-list a{
    padding: 0px 5px;
}
.lfs-social-list img{
    height: 40px;
    width: 40px;
}
/* .gettouch{
    margin-left: 69px;
    margin-top: -57px;
} */
.getintouch{
    /* padding: 0px 34px 0px 0px; */
    text-align: left;
    font-size: 71px;
}
.sectionthirteenp{
padding: 0px 130px 0px 0px;
}

@media(max-width:991px){
    .sectionthirteenp {
        padding: 0px 0px 0px 0px;
    }
    .getintouch{
        font-size: 47px;
    }
}

@media(max-width:768px){
    .gettouch{
        text-align: center;
    }
    .getintouch{
        text-align: center !important;
    }
    .lfs-social-list li{
        text-align: center;
        margin: auto;
        display: block;
    }
    .lfs-social-list a{
        padding: 0;
    }
    form{
        margin-top: 40px;
    }
}




@media(max-width:1326px){
    iframe{
        width: 100%;
        margin-left: 0px !important;
    }
}