.sectionfourhead{
position: relative;
}
.sectionfourbgcolor{
position: relative;
}
.sectionfourbgcolor::before{
    content: '';
    position: absolute;
    top: 71px;
    
    background-color: #eae9fb;
    width: 100%;
    height: 90vh;
   /* clip-path: polygon(52% 12%, 81% 20%, 100% 20%, 100% 100%, 0 100%, 0 0, 3% 0); */


   /* clip-path: polygon(52% 12%, 81% 20%, 100% 20%, 100% 100%, 0 100%, 0 0, 4% 0); */
   /* clip-path: polygon(35% 9%, 57% 17%, 80% 24%, 100% 24%, 100% 100%, 0 100%, 0 0, 0 0, 0 0); */

   clip-path: polygon(33% 15%, 55% 23%, 80% 33%, 100% 33%, 100% 100%, 0 100%, 0 0, 0 0, 0 0);

}
.sectionfourhead h1::after {
    content: '.................';
    position: absolute;
    bottom: -15px;
    left: 48%;
    font-size: 15px;
    color: #adadad;
}


.sectionfourhead h1{
    font-size: 35px;
}
.love{
   
    background: #fff;
   
    position: relative;
    text-align: left;
            padding: 33px 33px 16px 33px;
 
    margin-top: 40px;
}

.love h1 {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 19px;
    color: black;
    font-weight: 900;

}
.love p{
    color: black;
}

.love i {
    color: #fff;
    position: absolute;
    font-size: 27px;
    padding: 15px 19px;
    background: #0da3fa;
    margin-top: -37px;
    top: 0;

}

.sectionfourmargin{
    margin-top: 85px;
}
.powerful {
   
    background: #fff;
   
    position: relative;
    text-align: left;
            padding: 33px 33px 16px 33px;
 
    margin-top: 40px;

    }
.powerful h1 {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 19px;
    color: black;
    font-weight: 900;

}
.powerful p{
    color: black;
}

.powerful i {
    color: #fff;
    position: absolute;
    font-size: 27px;
    padding: 15px 19px;
    background: #0da3fa;
    margin-top: -37px;
    top: 0;
}

.messages {
   
    background: #fff;
   
    position: relative;
    text-align: left;
            padding: 33px 33px 16px 33px;
 
    margin-top: 40px;

}

.messages h1 {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 19px;
    color: black;
    font-weight: 900;

}
.messages p{
    color: black;
}

.messages i {
    color: #fff;
    position: absolute;
    font-size: 27px;
    padding: 15px 19px;
    background: #0da3fa;
    margin-top: -37px;
    top: 0;
}

.money {
   
    background: #fff;
   
    position: relative;
    text-align: left;
            padding: 33px 33px 16px 33px;
 
    margin-top: 40px;

}

.money h1 {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 19px;
    color: black;
    font-weight: 900;
}
.money p{
    color: black;
}

.money i {
    color: #fff;
    position: absolute;
    font-size: 27px;
    padding: 15px 19px;
    background: #0da3fa;
    margin-top: -37px;
    top: 0;
}






@media(max-width:991px) and (min-width:768px){
    
   .sectionfourbgcolor::before{
   height: 139vh;
}

}
@media(max-width:768px)and (min-width:562px){


.sectionfourbgcolor::before{
    height: 195vh;
 }
}
@media(max-width:768px){
    
.sectionfourbgcolor::before{
    height: 242vh;
 }
 
}

        /* @media(max-width:991px){
          
            .sectiontwohead h1{
                padding: 0px 0px;
            }
            .sectionfourmargin{
                margin-top: 20px;
            }
        }

        @media(max-width:991px) and (min-width:768px){
            .sectionfourcontainer{
               max-width: 566px;
           } 
           .sectionfourbgcolor::before{
           height: 139vh;
        }

        }

        @media(max-width:821px)and (min-width:768px){
            .sectionfourcontainer{
                margin-right: 101px;
            } 
        }

        @media(max-width:768px)and (min-width:562px){
            .sectionfourcontainer{
                max-width: 680px;
                padding-right: 0;
                padding-left: 0;
               }
        }

        @media(max-width:768px) {
            
            .cloud{
                width: 100%;
            }

            .exclusivedesign{
                width: 100%;
            }

            .enjoyit{
                width: 100%;
            }
.sectionfourbgcolor::before{
   height: 195vh;
}
            .support{
                width: 100% !important;
            }
        }
@media(max-width:991px) and (min-width:822px){
    .sectionfourmargin{
    flex: 0 0 50%;
    max-width: 50%;
}
} */