.sectionsevencol{
    margin-top: 51px;
}
.sectionsevenimg img{
    width: 480px;
}
.sectionsevendata i{
    color: #fff;
    font-size: 27px;
    padding: 15px 16px 15px 20px;
    background: #0da3fa;
    border-radius: 50%;
    box-shadow: 10px 15px 25px -14px black;
}
.sectionsevendata h1 {
    padding: 0px 67px 0px 0px
}
.sectionsevenfirstp{
    padding: 0px 182px 0px 0px;

}
.sectionsevensecondp{
    padding: 0px 166px 0px 0px;
}
.sectionsevendata a{
    color: #007bff;
}

@media(max-width:1199px){
    .sectionsevenimg img{
       width: 407px;
    }
    .sectionsevenfirstp{
        padding: 0;
    }
    .sectionsevensecondp{
        padding: 0;
    }
}
@media(max-width:991px){

    .sectionsevenimg img{
        width: 319px;
    }
    .sectionsevendata h1{
        padding: 0;
        font-size: 20px;
    }
}

@media(max-width:768px){
    .sectionsevenimg img{
        display: block;
    margin: auto;
    }
    .sectionsevendata{
        text-align: center;
        margin-top: 0px;
    }
    .sectionseven{
    margin-top: 21px !important;
}

}